@using HeadphoneStore.Shared.Dtos.Product
@model ProductDto

<div class="card-wrapper">
    <div class="card-container">
        <div class="card-image-wrapper">
            <div class="card-image-container">
                <div class="card-image-overlay">
                    <img class="card-image"
                         alt="@Model.Name's image"
                         src="@Model.Media.FirstOrDefault()?.ImageUrl"/>
                </div>
            </div>
        </div>

        <div class="card-content-wrapper">
            <div class="card-content-container">
                <div class="product-brand">@Model.Brand.Name</div>

                <h3 class="product-name">
                    <a href="/">@Model.Name</a>
                </h3>

                <div class="product-price-wrapper">
                    <div class="product-price-container">
                        <div class="product-price-overlay">
                            <span>@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}₫", Model.ProductPrice)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>